<?xml version="1.0"?>


<Params>
 <!--<Param key="CRMServerurl" value="http://grpao1-vwcrm01/" />
  <Param key="CRM2016WebAPI" value="http://gp-crm2016/GreshamPartners/XRMServices/2011/Organization.svc" />
  <Param key="OpsReports" value="\\\\GRPAO1-VWFS01\\opsreports$" />
  <Param key="BatchReports" value="\\\\GRPAO1-VWFS01\\shared$\\BATCH REPORTS\\" />
  <Param key="OutPutReports" value="///D:/BATCH%20REPORTS/" />
  <Param key="ApprovedReports" value="\\\\GRPAO1-VWFS01\\opsreports$\\Approved Reports\\" />
  <Param key="SharePointReports" value="E:\Infograte\TEST Report Output\\SHARE POINT REPORT\\" />
  <Param key="ClientReports" value="E:\Infograte\TEST Report Output\\CLIENT REPORT\\" />
  <Param key="DBConnectionstring" value="Password=slater6;Persist Security Info=False;User ID=mpiuser;Initial Catalog=GreshamPartners_MSCRM;Data Source=GP-CRMSQL1" ></Param>
  <Param key="OpsReporting" value="8A2AD331-109E-E411-A01F-0002A5443D86" />
  <Param key="CompletedMailings" value="\\\\GRPAO1-VWFS01\\shared$\\Mail Merge\\Completed Mailings\\" />
  <Param key="CombinedPdfs" value="\\\\GRPAO1-VWFS01\\opsreports$\\Combined PDFs\\" />
  <Param key="QuarteryReports" value="\\\\GRPAO1-VWFS01\\_ops_C_I_R_group\\Quarterly_Reports\\" />
  <Param key="DBTransactions" value="Password=slater6;Persist Security Info=False;User ID=mpiuser;Initial Catalog=TransactionLoad_DB;Data Source=GP-CRMSQL1" />
  <Param key="ImagePath" value="\\\\GRPAO1-VWFS01\\shared$\\Mail Merge\\Sigpics_blue\\" />
  <Param key="PerformanceFilePath" value="\\\\GRPAO1-VWFS01\\Shared$\\Invoice\\CRM2011\\Public_perf_Data\\" />
  <Param key="FileUploadUrl" value="E:\Infograte\TEST Report Output\\File Upload Url\\" />
  <Param key="SLOAPDFPath" value="D:\\AdventReport\\ExcelTemplate\\" />
  <Param key="AxysToolFilePath" value="\\\\GRPAO1-VWFS01\\Shared$\\Invoice\\CRM2011\\AxysUploadTool\\Prod\\" />
  <Param key="CoverLetter" value="\\\\GRPAO1-VWFS01\\Shared$\\BATCH REPORTS\\_Letters\\" />-->

  <!--<Param key="CRMServerurl" value="https://crm.greshampartners.com/" />
  <Param key="CRM2016WebAPI" value="https://crm.greshampartners.com/XRMServices/2011/Organization.svc" />-->
  
  <Param key="CRMPortNumber" value="" />
  <Param key="CRMServerurl" value="https://dev2crm.greshampartners.com/" />
  <Param key="CRM2016WebAPI" value="https://dev2crm.greshampartners.com/XRMServices/2011/Organization.svc" />
  <!--<Param key="CRMServerurl" value="http://gp-crm2016/" />
  <Param key="CRM2016WebAPI" value="http://gp-crm2016/GreshamPartners/XRMServices/2011/Organization.svc" />-->
  <Param key="OpsReports" value="D:\\Infograte\TEST Report Output\\OPS REPORTS\\" />
  <Param key="BatchReports" value="D:\\Infograte\TEST Report Output\\BATCH REPORTS\\" />
b 
  
  <Param key="OutPutReports" value="///D:/BATCH%20REPORTS/" />
  <Param key="ApprovedReports" value="D:\\Infograte\TEST Report Output\\OPS REPORTS\\Approved Reports\\" />
  <Param key="SharePointReports" value="D:\Infograte\TEST Report Output\\SHARE POINT REPORT\\" />
  <Param key="ClientReports" value="E:\Infograte\TEST Report Output\\CLIENT REPORT\\" />
  <Param key="DBConnectionstring" value="Password=slater6;Persist Security Info=False;User ID=mpiuser;Initial Catalog=GreshamPartners_MSCRM;Data Source=gp-devdb2" ></Param>
 <!-- <Param key="DBConnectionstring" value="Password=slater6;Persist Security Info=False;User ID=mpiuser;Initial Catalog=GreshamPartners_MSCRM;Data Source=GP-PRODDB" ></Param>-->
  <!-- <Param key="DBConnectionstring" value="Password=slater6;Persist Security Info=False;User ID=mpiuser;Initial Catalog=GreshamPartners_MSCRM;Data Source=GP-CRMSQL1" ></Param>-->
  
  <Param key="OpsReporting" value="8A2AD331-109E-E411-A01F-0002A5443D86" />
  <Param key="CompletedMailings" value="D:\\Infograte\TEST Report Output\\Completed Mailings\\" />
  <Param key="CombinedPdfs" value="D:\\Infograte\TEST Report Output\\Combined Pdfs\\" />
  <Param key="QuarteryReports" value="D:\\Infograte\TEST Report Output\\QuarteryReports\\" />
  <Param key="DBTransactions" value="Password=slater6;Persist Security Info=False;User ID=mpiuser;Initial Catalog=TransactionLoad_DB;Data Source=GP-devdb2" />
  <Param key="ImagePath" value="D:\\Infograte\\Site\\AdventReportProd\\images\\" />
  <Param key="PerformanceFilePath" value="\\\\GRPAO1-VWFS01\\Shared$\\Invoice\\CRM2011\\Public_perf_Data\\" />
  <Param key="FileUploadUrl" value="D:\Infograte\TEST Report Output\\File Upload Url\\" />
  <Param key="SLOAPDFPath" value="D:\\AdventReport\\ExcelTemplate\\" />
  <Param key="AxysToolFilePath" value="\\\\GRPAO1-VWFS01\\Shared$\\Invoice\\CRM2011\\AxysUploadTool\\Prod\\" />
  <Param key="CoverLetter" value="\\\\GRPAO1-VWFS01\\Shared$\\BATCH REPORTS\\_Letters\\" />
  <Param key="SubscriptionLetters" value="D:\\Infograte\TEST Report Output\\BATCH REPORTS\\Additional Subscription Letters\\" />
  
  <Param key="CapCallBackupPath" value="D:\Back Data 19-08-2016\D Data\Development\GreshamPartners\Reporting Custom\BatchReport\ExcelTemplate\Tempfolder\\CapCalls\\"/> 
  <Param key="DistributionBackupPath" value="D:\Back Data 19-08-2016\D Data\Development\GreshamPartners\Reporting Custom\BatchReport\ExcelTemplate\Tempfolder\\Distributions\\"/>
  
  <Param key="SMTPHost" value="10.0.0.2"/>
  <Param key="Port" value="25"/>
  <Param key="EmailId" value="crmadmin@greshampartners.com"/>
  <!--  <add key="Password" value="51ngl3malt"/>-->
  <Param key="Password" value=""/>
  <Param key="CRMPassword" value="51ngl3malt_51ngl3malt"/>
  <Param key="Server" value="Test"/>
  <Param key="ToEmailIDs2" value="JScalise@greshampartners.com"/>
   <Param key="ToEmailIDbillingReject" value="skane@infograte.com"/>
	<Param key="clientportalURL" value="https://greshampartners.sharepoint.com/sites/pc/ClientPortal"/>
	<Param key="clientservURL" value="https://greshampartners.sharepoint.com/sites/pc/clientserv"/>
	<Param key="DataBackupURL" value="https://greshampartners.sharepoint.com/sites/DataBackup/" />
	<Param key="SharepointURL" value="https://greshampartners.sharepoint.com"/>
	<Param key="httpSharepointURL" value="http://greshampartners.sharepoint.com"/>
	<Param key="SharepointCSURL" value="https://greshampartners.sharepoint.com/sites/CS/"/>
	<Param key="httpclientservURL" value="http://greshampartners.sharepoint.com/sites/pc/clientserv"/>
  <Param key="SPUserEmailID" value="CRMSPUser@greshampartners.com"/>
  <Param key="SPUserPassword" value="51ngl3malt_SPUser111"/>
	<!--<Param key="ToEmailIDs" value="JScalise@greshampartners.com"/>-->
  <!-- Anzaniofilecopy.aspx -->
  <!--<Param key="ToEmailIDs1" value="DBailey@greshampartners.com|JMasa@greshampartners.com|JScalise@greshampartners.com"/>-->
  <!-- frmClientPortalFileCopy.aspx -->

</Params>