<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <handlers>
      <add name="AjaxFileUploadHandler" verb="POST" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <connectionStrings>
    <clear/>
    <add name="connectotsql" connectionString="Password=slater6;Persist Security Info=False;User ID=mpiuser;Initial Catalog=GreshamPartners_MSCRM;Data Source=GP-CRMSQL1" providerName="System.Data.SQlClient"/>
    <!--<add name="connectotsql" connectionString="Password=slater6;Persist Security Info=False;User ID=mpiuser;Initial Catalog=GreshamPartners_MSCRM;Data Source=GP-DB1" providerName="System.Data.SQlClient"/>-->
    <add name="connectotsqllocal" connectionString="Data Source=serverdb; Uid=sa; pwd=slater6; Initial Catalog=Gresham_DB;" providerName="System.Data.SQlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <authentication mode="Windows"/>
    <sessionState mode="InProc"/>
    <globalization enableClientBasedCulture="true" culture="auto:en-US" uiCulture="auto:en"/>
    <pages enableSessionState="true" enableViewState="true" enableViewStateMac="true" enableEventValidation="false" validateRequest="false" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET"/>
        <add tagPrefix="FCKeditorV2" namespace="FredCK.FCKeditorV2" assembly="FredCK.FCKeditorV2"/>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6.2">
      <assemblies>
        <add assembly="Microsoft.SharePoint.Client, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="Microsoft.SharePoint.Client.Runtime, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="Microsoft.SharePoint.Client.Taxonomy, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="Microsoft.Office.Interop.Excel, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <!--<add assembly="Microsoft.SqlServer.ConnectionInfo, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.SqlServer.Management.Sdk.Sfc, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.SqlServer.Smo, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.SqlServer.SqlClrProvider, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.SqlServer.SqlEnum, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="System.Web.DataVisualization.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="2001"/>
    <add key="CRMServerurl" value="http://gp-crm2016/"/>
    <!--<add key="CRMServerurl" value="http://gp-crm2016/GreshamPartners/XRMServices/2011/Organization.svc" />-->
    <add key="CRM2016WebAPI" value="http://gp-crm2016/GreshamPartners/XRMServices/2011/Organization.svc"/>
    <add key="OpsReports" value="E:\Infograte\TEST Report Output\\OPS REPORTS\\"/>
    <add key="BatchReports" value="E:\Infograte\TEST Report Output\\BATCH REPORTS\\"/>
    <add key="OutPutReports" value="///D:/BATCH%20REPORTS/"/>
    <add key="ApprovedReports" value="E:\Infograte\TEST Report Output\\OPS REPORTS\\Approved Reports\\"/>
    <add key="SharePointReports" value="E:\Infograte\TEST Report Output\\SHARE POINT REPORT\\"/>
    <add key="SharePointReports" value="E:\Infograte\TEST Report Output\\SHARE POINT REPORT\\"/>
    <add key="AxysToolFilePath" value="\\\\GRPAO1-VWFS01\\Shared$\\Invoice\\CRM2011\\AxysUploadTool\\Test\\"/>
    <add key="DistributeRecoFilePath" value="\\\\GRPAO1-VWFS01\Shared$\Invoice\CRM2011\\"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <!--<add key="CrmSdk_Prod.CrmServiceWsdl" value="http://grpao1-vwcrm01/MSCrmServices/2007/CrmService.asmx"/>
    <add key="CrmSdk.CrmServiceWsdl" value="http://crm-test3/MSCrmServices/2007/CrmService.asmx"/>-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <!--<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>-->
      </dependentAssembly>
      <dependentAssembly>
        <!--<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>-->
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>